.byyourside_features-container_feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
    max-width: 300px;
}

.byyourside_features-container_feature-title {
    margin-top: 1rem;
}

.byyourside_features-container_feature-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.byyourside_features-container_feature-title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto 0.25rem; /* center the bar */
}

.byyourside_features-container_feature-image {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
}

.byyourside_features-container_feature-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

@media screen and (max-width: 550px) {
    .byyourside_features-container_feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .byyourside_features-container_feature {
        margin: 1rem 0;
    }
}





