.byyourside_features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.byyourside_features-mission {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
}

.byyourside_features-mission h1 {
    font-family: var(--font-family);        
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}

.byyourside_features-mission p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin-top: 2rem;
}

.byyourside_features-heading {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
}

.byyourside_features-heading h1 {
    font-family: var(--font-family);        
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}

.byyourside_features-heading p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin-top: 2rem;
}

.byyourside_features-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.5rem;
}

@media screen and (max-width: 990px) {
    .byyourside_features-container {
        gap: 1.5rem;
    }

    .byyourside_features-heading {
        margin-bottom: 2rem;
    }

    .byyourside_features-mission {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 550px) {
    .byyourside_features-heading h1,
    .byyourside_features-mission h1 {
        font-size: 28px;
        line-height: 38px;
    }

    .byyourside_features-container {
        gap: 1rem;
    }
}