.byyourside_blog {
    display: flex;
    flex-direction: column;
}

.byyourside_blog-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}

.byyourside_blog-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.byyourside_blog-container {
    display: flex;
    flex-direction: row;
}

.byyourside_blog-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.byyourside_blog-container_groupB {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two equal columns */
    grid-gap: 2rem; /* space between grid items */
}

@media screen and (max-width: 990px) {
    .byyourside_blog-container {
        flex-direction: column;
    }

    .byyourside_blog-container_groupA {
        margin: 2rem 0;
    }

    .byyourside_blog-container_groupA .byyourside_blog-container_article-image {
        height: 250px; 
    } 
}

@media screen and (max-width: 700px) {
    .byyourside_blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .byyourside_blog-container_groupA .byyourside_blog-container_article {
        width: 100%;
    }

    .byyourside_blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .byyourside_blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
}
