.byyourside_blog {
    display: flex;
    flex-direction: column;
}

.byyourside_blog-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}

.byyourside_blog-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.byyourside_blog-container {
    display: flex;
    flex-direction: row;
}

.byyourside_blog-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.byyourside_blog-container_groupB {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two equal columns */
    grid-gap: 2rem; /* space between grid items */
}