.byyourside_partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.byyourside_partners div {
    flex: 1 auto;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.byyourside_partners div img {
    width: 100%;
    height: 120px;
    max-width: 150px;
    object-fit: contain;
}


