.byyourside_possibility {
    display: flex;
    flex-direction: row;
}

.byyourside_possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.byyourside_possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71e5ff;
}

.byyourside_possibility-content button{
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background: var(--gradient-bar);
    border: none;
    border-radius: 5px;
    color: #000000;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.byyourside_possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0; 
}

.byyourside_possibility-content p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .byyourside_possibility {
        flex-direction: column;
    }

    .byyourside_possibility-image {
        margin: 1rem 0;
    }

    .byyourside_possibility-content {
        margin-top: 2rem;
    }
}











