* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient_bg {
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 4% 0%, rgba(190, 246, 255, 1) 18%, rgba(0, 109, 212, 1) 69%, rgba(0, 52, 100, 1) 91%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 4% 0%, rgba(190, 246, 255, 1) 18%, rgba(0, 109, 212, 1) 69%, rgba(0, 52, 100, 1) 91%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 4% 0%, rgba(190, 246, 255, 1) 18%, rgba(0, 109, 212, 1) 69%, rgba(0, 52, 100, 1) 91%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 4% 0%, rgba(190, 246, 255, 1) 18%, rgba(0, 109, 212, 1) 69%, rgba(0, 52, 100, 1) 91%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 4% 0%, rgba(190, 246, 255, 1) 18%, rgba(0, 109, 212, 1) 69%, rgba(0, 52, 100, 1) 91%);
}

.gradient_text {
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_padding {
    padding: 4rem 6rem;
}

.section_margin {
    margin: 4rem 6rem;
}


