.byyourside_header {
    display: flex;
}

.byyourside_header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.byyourside_header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.byyourside_header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-top: 1.5rem;
}

.byyourside_header-content_input {
    margin: 2rem 0 1rem;
    display: flex;
    width: 100%;
}

.byyourside_header-content_input input {
    background: var(--color-footer);
    border-radius: 5px 0px 0px 5px;
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.byyourside_header-content_input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    background: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.byyourside_header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.byyourside_header-image img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1050px) {
    .byyourside_header {
        flex-direction: column;
    }

    .byyourside_header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .byyourside_header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .byyourside_header p {
        font-size: 16px;
        line-height: 24px;
    }

    .byyourside_header-content_input input,
    .byyourside_header-content_input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .byyourside_header h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .byyourside_header p {
        font-size: 14px;
        line-height: 24px;
    }

    .byyourside_header-content_input input,
    .byyourside_header-content_input button {
        font-size: 12px;
        line-height: 16px;
    }
}









